n8n/workflows/whatsapp-quote-automation.json
{
    "name": "WhatsApp Quote Automation",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "options": {
                    "rawBody": false
                }
            },
            "id": "webhook_trigger",
            "name": "Twilio Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                250,
                300
            ],
            "webhookId": "whatsapp-quote-automation"
        },
        {
            "parameters": {
                "jsCode": "// Parse Twilio webhook data\nconst body = $input.first().json.body;\n\nconst from = body.From?.replace('whatsapp:', '') || '';\nconst to = body.To?.replace('whatsapp:', '') || '';\nconst message = body.Body || '';\nconst profileName = body.ProfileName || '';\nconst messageSid = body.MessageSid || '';\n\nreturn {\n  customerPhone: from,\n  businessNumber: to,\n  message: message,\n  customerName: profileName,\n  messageSid: messageSid,\n  rawFrom: body.From,\n  rawTo: body.To\n};"
            },
            "id": "parse_webhook",
            "name": "Parse Webhook Data",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  b.id as business_id,\n  b.name as business_name,\n  sp.name as plan_name,\n  sp.whatsapp_enabled,\n  sp.monthly_quote_limit,\n  qas.ai_provider,\n  qas.ai_model,\n  qas.ai_temperature,\n  qas.system_prompt,\n  qas.greeting_message,\n  qas.is_enabled,\n  wn.phone_number\nFROM whatsapp_numbers wn\nJOIN businesses b ON b.id = wn.business_id\nJOIN subscription_plans sp ON sp.id = b.subscription_plan_id\nLEFT JOIN quote_automation_settings qas ON qas.business_id = b.id\nWHERE wn.phone_number = '{{ $json.businessNumber }}'\n  AND wn.is_active = true\nLIMIT 1",
                "options": {}
            },
            "id": "get_business_config",
            "name": "Get Business Config",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                650,
                300
            ],
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_ME",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "business_found",
                            "leftValue": "={{ $json.business_id }}",
                            "rightValue": "",
                            "operator": {
                                "type": "number",
                                "operation": "exists"
                            }
                        },
                        {
                            "id": "automation_enabled",
                            "leftValue": "={{ $json.is_enabled }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "check_enabled",
            "name": "Is Enabled?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT \n  quotes_used,\n  COALESCE(\n    (SELECT monthly_quote_limit FROM subscription_plans sp \n     JOIN businesses b ON b.subscription_plan_id = sp.id \n     WHERE b.id = {{ $('Get Business Config').item.json.business_id }}),\n    0\n  ) as monthly_limit,\n  allow_overage\nFROM quote_usage_monthly\nWHERE business_id = {{ $('Get Business Config').item.json.business_id }}\n  AND year_month = TO_CHAR(NOW(), 'YYYY-MM')\nLIMIT 1",
                "options": {}
            },
            "id": "check_monthly_limit",
            "name": "Check Monthly Limit",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1050,
                200
            ],
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_ME",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "limit_check",
                            "leftValue": "={{ $json.quotes_used || 0 }}",
                            "rightValue": "={{ $json.monthly_limit || 999999 }}",
                            "operator": {
                                "type": "number",
                                "operation": "lt"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "under_limit",
            "name": "Under Limit?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1250,
                200
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $('Parse Webhook Data').item.json.message }}",
                "options": {
                    "systemMessage": "={{ $('Get Business Config').item.json.system_prompt || 'Eres un asistente de cotizaciones para ' + $('Get Business Config').item.json.business_name + '. Tu trabajo es ayudar a los clientes a cotizar productos. Responde en español de manera amable y profesional.' }}"
                }
            },
            "id": "ai_chat",
            "name": "AI Assistant",
            "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1,
            "position": [
                1450,
                100
            ],
            "credentials": {
                "openAiApi": {
                    "id": "CONFIGURE_ME",
                    "name": "OpenAI API"
                }
            }
        },
        {
            "parameters": {
                "operation": "create",
                "resource": "message",
                "from": "={{ $('Parse Webhook Data').item.json.rawTo }}",
                "to": "={{ $('Parse Webhook Data').item.json.rawFrom }}",
                "body": "={{ $json.text }}"
            },
            "id": "send_response",
            "name": "Send WhatsApp Reply",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1650,
                100
            ],
            "credentials": {
                "twilioApi": {
                    "id": "CONFIGURE_ME",
                    "name": "Twilio API"
                }
            }
        },
        {
            "parameters": {
                "operation": "create",
                "resource": "message",
                "from": "={{ $('Parse Webhook Data').item.json.rawTo }}",
                "to": "={{ $('Parse Webhook Data').item.json.rawFrom }}",
                "body": "Lo siento, este negocio ha alcanzado su límite mensual de cotizaciones. Por favor intenta el próximo mes."
            },
            "id": "send_limit_message",
            "name": "Send Limit Reached",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1450,
                300
            ],
            "credentials": {
                "twilioApi": {
                    "id": "CONFIGURE_ME",
                    "name": "Twilio API"
                }
            }
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "INSERT INTO quote_usage_monthly (business_id, year_month, quotes_used)\nVALUES ({{ $('Get Business Config').item.json.business_id }}, TO_CHAR(NOW(), 'YYYY-MM'), 1)\nON CONFLICT (business_id, year_month)\nDO UPDATE SET quotes_used = quote_usage_monthly.quotes_used + 1, updated_at = NOW()",
                "options": {}
            },
            "id": "increment_usage",
            "name": "Increment Usage",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.4,
            "position": [
                1850,
                100
            ],
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_ME",
                    "name": "Supabase PostgreSQL"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "<Response></Response>",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/xml"
                            }
                        ]
                    }
                }
            },
            "id": "respond_success",
            "name": "Respond to Twilio",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                2050,
                100
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "<Response></Response>",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/xml"
                            }
                        ]
                    }
                }
            },
            "id": "respond_disabled",
            "name": "Respond Disabled",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1050,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "<Response></Response>",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Content-Type",
                                "value": "application/xml"
                            }
                        ]
                    }
                }
            },
            "id": "respond_limit",
            "name": "Respond Limit",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.1,
            "position": [
                1650,
                300
            ]
        }
    ],
    "connections": {
        "Twilio Webhook": {
            "main": [
                [
                    {
                        "node": "Parse Webhook Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Webhook Data": {
            "main": [
                [
                    {
                        "node": "Get Business Config",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Business Config": {
            "main": [
                [
                    {
                        "node": "Is Enabled?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Enabled?": {
            "main": [
                [
                    {
                        "node": "Check Monthly Limit",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Disabled",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Monthly Limit": {
            "main": [
                [
                    {
                        "node": "Under Limit?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Under Limit?": {
            "main": [
                [
                    {
                        "node": "AI Assistant",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Send Limit Reached",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Assistant": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp Reply": {
            "main": [
                [
                    {
                        "node": "Increment Usage",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Increment Usage": {
            "main": [
                [
                    {
                        "node": "Respond to Twilio",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send Limit Reached": {
            "main": [
                [
                    {
                        "node": "Respond Limit",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "WhatsApp",
            "id": "1"
        },
        {
            "name": "Quotes",
            "id": "2"
        },
        {
            "name": "AI",
            "id": "3"
        }
    ],
    "triggerCount": 0,
    "updatedAt": "2024-12-26T00:00:00.000Z",
    "versionId": "1"
}